In [1]:
#OOPS (object oriented)eg,object1 and plannignt o design new phone brand= samsung, model =  stxuv
#requirement,accesssories, (object is instanceof class)
#actual phone, car is (class) requirement is object

class Audi999:
  pass

obj1 = Audi999()

In [2]:
print(type(obj1))

<class '__main__.Audi999'>

In [11]:
#overview creating oops
class Monroe_student:
  def student_info():
    pass

In [12]:
obj1 = Monroe_student()

In [5]:
obj1.student_info()

AttributeError: ignored

In [13]:
class brand_car:
  def car_color():
    pass

In [14]:
obj1 = brand_car()

In [15]:
obj1.car_color()

TypeError: ignored

In [17]:
#component of OOPS(start with ,class, inheritene, polymorphism,abstraction,encapsulaion)

class Tribhbuvan_university_student:
  def __init__(self, fname, lname, gender, email, contact):
    pass

In [19]:
obj1 = Tribhbuvan_university_student('kin', "zen", "Anto"obj1, 'm', 'kin.anto@firstmail.com', 9849434872)

SyntaxError: ignored

In [20]:
print(type(obj1))

<class '__main__.brand_car'>

In [34]:
class Tribhbuvan_university_student:
  def __init__(self, fname, mname, lname, gender, email, contact):
    self.fname = fname
    self.mname = mname
    self.lname = lname
    self.gender = gender
    self.email = email
    self.contact = contact
    print(self.fname, self,fname, self.lname, self.gender, self.email, self.contact)

In [35]:
obj1 = Tribhbuvan_university_student('raza', "rahat", "khan", 'm', 'raza.khan@firstmail.com', 9849)

raza <__main__.Tribhbuvan_university_student object at 0x79c0c14abd90> raza khan m raza.khan@firstmail.com 9849

In [39]:
class Tribhbuvan_university_student:
  def __init__(self, fname, mname, lname, gender, email, contact):
    self.fname = fname
    self.mname = mname
    self.lname = lname
    self.gender = gender
    self.email = email
    self.contact = contact

  def stud_details(self):
    print(self.fname, self.fname, self.lname, self.gender, self.email, self.contact)

In [40]:
obj1 = Tribhbuvan_university_student('raza', "rahat", "khan", 'm', 'raza.khan@firstmail.com', 9849)

In [41]:
obj1.stud_details()

raza raza khan m raza.khan@firstmail.com 9849

In [43]:
class Tribhbuvan_university_student:
  def __parts__(parts, ram, harddisk, processor, battery, charger, brand):
    parts.ram = ram
    parts.harddisk = harddisk
    parts.processor = processor
    parts.battery = battery
    parts.charger = charger
    parts.brand = brand
    print(parts, ram, harddisk, processor, battery, charger, brand)

In [47]:
class car:
  def __init__(self, name, model,fuel, hp, cylinders):
    self.name = name
    self.model = model
    self.fuel = fuel
    self.hp = hp
    self.cylinders = cylinders
  def car_details(self):
   # print(self.name, self.model, self.fuel, self.hp, self.cylinders)
     print("The car name is {self.name}.")
     print("The car model is {self.model}.")
     print("The car fuel efficiency is {self.fuel}.")
     print("The car hp is {self.hp}.")
     print("The car cylinders is {self.cylinders}.")

In [48]:
obj1 = car("Honda", 'Passport', 'Gasoline', 300, 6)

In [49]:
obj1.car_details()

The car name is {self.name}.
The car model is {self.model}.
The car fuel efficiency is {self.fuel}.
The car hp is {self.hp}.
The car cylinders is {self.cylinders}.

INHERITENCE

In [50]:
#Great Grand parent class
class transportation:
  pass

In [52]:
# Grand parent class
class air():
  pass
class water():
  pass
class land():
  pass


# Parent class
class wheeler2(land):
  pass
class wheeler3(land):
  pass
class wheeler4(land):
  pass
class wheeler6(land):
  pass
class wheeler8(land):
  pass
class wheeler10(land):
  pass
class wheeler12(land):
  pass

#Child class
class gas():
  pass
class petrol():
  pass
class electric():
  pass
class battery():
  pass
class solar():
  pass

In [53]:
class ARMY:
  pass

In [54]:
class air():
  pass
class water():
  pass
class land():
  pass

class Nationalguard(land):
  pass
class SSD(land):
  pass
class Navy(land):
  pass
class Marine(land):
  pass

class Airport():
  pass
class portauthority():
  pass
class MTA():
  pass
class ultratrained():
  pass
class armpolice():
  pass

**Second Hlaf Class**

In [71]:
# 1. Write a Python Function that accepts a hyphen-separated sequence of words as input and prints the words in a hyphen-separated sequence after sorting them alphabetically.
#Sample Items : green-red-yellow-black-white
#Expected Result : black-green-red-white-yellow

def sort_the_string(word_str):
  word_list=word_str.split("-")
  sorted_list=sorted(word_list)
  print("-".join(sorted_list))

sort_the_string("green-red-yellow-black-white-blue")

black-blue-green-red-white-yellow

In [ ]:
def sort_the_string(word_str):
  word_list=word_str.split("-")
  sorted_list=sorted(word_list)
  str_out=""
  print("sorted listy", sorted_list)
  for k in range sorted_list:
    if len(str_out)==0:

    str_out=str_out+"-"+k
  print("-".join(sorted_list))

sort_the_string("green-red-yellow-black-white-blue")

In [79]:
# 2. Write a function that accepts a string and count consonant and vowels in that string

def count_const_vowels(words):
  vowels_list=['a','e','i','o','u']
  count_vowls=0
  count_const=0
  for k in words:
    if k.isalpha():
     if k in vowels_list:
      count_vowls=count_vowls+1
     else:
      count_const=count_const+1
  print("count of constants",count_const)
  print("count of vowels", count_vowls)

  count_const_vowels("blackgreenredwhiteyellow")

In [84]:
# 3. Write a Python function to check whether a number is "Perfect" or not.
#According to Wikipedia : In number theory, a perfect number is a positive integer that is equal to the sum of its proper positive divisors, that is, the sum of its positive divisors excluding the number itself (also known as its aliquot sum). Equivalently, a perfect number is a number that is half the sum of all of its positive divisors (including itself).
#Example : The first perfect number is 6, because 1, 2, and 3 are its proper positive divisors, and 1 + 2 + 3 = 6. Equivalently, the number 6 is equal to half the sum of all its positive divisors: ( 1 + 2 + 3 + 6 ) / 2 = 6. The next perfect number is 28 = 1 + 2 + 4 + 7 + 14. This is followed by the perfect numbers 496 and 8128.

n = int(input("Enter any number:"))
sum1 = 0
for i in range(1, n):
  if(n % i ==0):
    sum1 = sum1 + i
if (sum1 ==n):
    print("The number is a perfect number.")
else:
    print("The number is not perfect number.")

Enter any number:18
The number is not perfect nmber.

In [ ]:
# 4. Write a program to print twin primes less than 1000. If two consecutive odd numbers are both prime then they are known as twin primes