In [1]:
class person:
  def __init__(self,fname,lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, ' ', self.lastname)

In [2]:
obj1 = person('Raza', 'Khan')

In [3]:
obj1.printname()

Raza   Khan

In [4]:
#child class
class childclass(person):
  pass

In [5]:
obj2 = childclass('Raza', 'Khan')

In [6]:
obj2.printname()

Raza   Khan

In [7]:
#small set of code for child class
class person:
  def __init__(self,fname,lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, ' ', self.lastname)

In [8]:
class childclass(person):
  def __init__(self, fname, lname):
    self.firstname =fname
    self.lastname =lname

  def printname(self):
    print('class childclass(person):,', self.firstname, ' ', self.lastname)

In [9]:
obj1 = childclass('raza', 'khan')

In [10]:
obj1.printname()

class childclass(person):, raza   khan

**Pratice**

In [11]:
class taekwondo:
  def __init__(self,color,belt):
    self.color = color
    self.belt = belt

  def printname(self):
    print(self.color, ' ', self.belt)

In [12]:
class childclass(taekwondo):
  def __init__(self, color, belt):
    self.color =color
    self.belt =belt

  def printname(self):
    print('class childclass(taekwondo):,', self.color, ' ', self.belt)

In [13]:
obj1 = childclass('blackbelt', '1st don')

In [14]:
obj1.printname()

class childclass(taekwondo):, black   1st don

In [22]:
#2. call function from parent class using (super) function
class person:
  def __init__(self,fname,lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print('class person:', self.firstname, self.lastname)

In [23]:
class student(person):
  def __init__(self, fname, lname):
    super().__init__(fname,lname)

In [24]:
obj1 = student('Raza', 'Khan')

In [25]:
obj1.printname()

class person: Raza Khan

In [37]:
#3.
class car:
  def __init__(self, name, model):
    self.name = name
    self.model = model

  def print_details(self):
    print('class car:', self.name, self.model)

In [38]:
class bmw(car):
  def __init__(self,name,model):
    super().__init__(name, model)

In [39]:
obj1 = bmw('bmwx8', 999)

In [41]:
obj1.print_details()

class car: bmwx8 999

In [42]:
#4.
class company:
  def __init__(self, name, location, contact):
    self.name = name
    self.location = location
    self.contact = contact

  def print_details(self):
    print('company:-', self.name, self.location, self.contact)

**2ndclass**

In [46]:
#1.Write a program to print twin primes less than 1000. If two consecutive odd numbers are both prime then they are known as twin primes
#first part is we have to iterate till 1000
#2nd partcheck nly for odd numbers
#3rd both the numbers should be prime

n=(input("Enter the Max Range :-"))
for k in range(3,n,2):
  print(k)

Enter the Max Range :-`10

TypeError: ignored

In [48]:
n=(input("Enter the Max Range :-"))

def check_prime_number(num):
  #77check_prime=True
  for i in range(2,num):
    if num%i==0:
      return False
  return True

  def print_prime_pairs(n):
    for k in range(3,n,2):
      print(k)

Enter the Max Range :-1000

In [ ]:
#3.Two different numbers are called amicable numbers if the sum of the proper divisors of each is equal to the other number. For example 220 and 284 are amicable numbers.