**over loading, over riding, operator over loading, polymorphism, encaplsulation**

In [ ]:
print(10 + 12)

22

In [ ]:
print(3.1415 + 3.1415) #addition of two float values

6.283

In [ ]:
print('python + programming') #concanating two str values

python + programming

In [ ]:
print([12,23,34,45,] + [56, 67,78,89,90]) #performing same function with different parameters (polymorphism)-multi-forms

[12, 23, 34, 45, 56, 67, 78, 89, 90]

In [ ]:
l = 'python programming'
print(len(l))

l = [12, 23, 34, 45, 56, 67, 78, 89, 90]

print(len(l))

l = (12, 23, 34, 45, 56, 67, 78, 89, 90)
print(l)

l = {'a': 'apple',
     'b': 'banana',
     'c': 'cherry'
     }
print(l)

18
9
(12, 23, 34, 45, 56, 67, 78, 89, 90)
{'a': 'apple', 'b': 'banana', 'c': 'cherry'}

In [ ]:
class person: #parent class
  def __init__(selof, fanme, mnane, lname):
    pass
  def print_details(self):
    print(self.fname, self.mname, self.lname)

class student(person): #child class
  def __init__(selof, fanme, mnane, lname):
    pass
  def print_details(self):
    print(self.fname, self.mname, self.lname)

In [ ]:
class Car:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Drive!")

class Boat:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Sail!")

class Plane:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Fly!")

car1 = Car("Ford", "Mustang")       #Create a Car class
boat1 = Boat("Ibiza", "Touring 20") #Create a Boat class
plane1 = Plane("Boeing", "747")     #Create a Plane class

for x in (car1, boat1, plane1):
  x.move()

Drive!
Sail!
Fly!

**Explaing all so possible for interview**

In [ ]:
class vehicle:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print('move!!')

class Car(vehicle):
  def move(self):
    print("Drive!")

class Boat(vehicle):
  def move(self):
    print("Sail!")

class Plane(vehicle):
  def move(self):
    print("Fly!")

car1 = Car("Ford", "Mustang")       #Create a Car class
boat1 = Boat("Ibiza", "Touring 20") #Create a Boat class
plane1 = Plane("Boeing", "747")     #Create a Plane class

for i in (car1,boat1,plane1):
  print(i.brand)      #is over riding
  print(i.model)
  i.move()           #is describing polymorphism

Ford
Mustang
Drive!
Ibiza
Touring 20
Sail!
Boeing
747
Fly!

In [ ]:

class morganandmorgan: #parent classs
  def __init__(self,department,position):
    self.department = department                      #parameters
    self.position = position

  def company(self):
    print('Morgan & Morgan')

class finance(morganandmorgan):  #child class and inherit from parent class
  def company(self):
   print("congratulaton!for you completion of project on bonus distributioin.")
   print('********************')

class position(morganandmorgan):
  def company(self):
    print("Congratulation you got promoted.")
    print('*************************')

finance1 = finance('Raza' , 'khan')    #object for child class
position1 = position('senior', 'analyst')

for i in (finance1,position1): #inheriting func from parent class
  print(i.department)
  print(i.position)
  i.company()

Raza
khan
congratulaton!for you completion of project on bonus distributioin.
********************
senior
analyst
Congratulation you got promoted.
*************************

***2nd session**** **bold text**

In [ ]:
a=list(('apple','banana'))
a

['apple', 'banana']

In [ ]:
def main():
    print("Num of rows:")
    row = int(input())
    print("Num of Cols:")
    columns = int(input())
    print("Out:\n")

    for i in range(row): # iterate in rows
        print('x'*columns) # print 'x' columns times

if __name__ == '__main__':
    main()

Num of rows:
3
Num of Cols:
3
Out:

xxx
xxx
xxx

In [40]:
def display_board(board_list):
    print(" {} | {} | {} ".format(board_list[0],board_list[1],board_list[2]))
    print("-----------")
    print(" {} | {} | {} ".format(board_list[3],board_list[4],board_list[5]))
    print("-----------")
    print(" {} | {} | {} ".format(board_list[6],board_list[7],board_list[8]))

available = [num for num in range(1,10)]
display_board(available)

position_to_replace=int(input("Please choose between 1 and 9 :- "))
position_to_replace=available.index(position_to_replace)
while True:
  if position_to_replace<0 or position_to_replace>8:
    print("Invalid Input")
    position_to_replace=int(input("Please choose between 1 and 9 :- "))
  else:
    available[position_to_replace]="X"
    print(available)
    break

display_board(available)

 1 | 2 | 3
-----------
 4 | 5 | 6
-----------
 7 | 8 | 9
Please choose between 1 and 9 :- 8
[1, 2, 3, 4, 5, 6, 7, 'X', 9]
 1 | 2 | 3
-----------
 4 | 5 | 6
-----------
 7 | X | 9